html,
body {
  margin: 0;
  /* height: 100%;
  width: 100%; */
}

body {
  background-color: black;
  padding-top: 50px;
}

h1 {
  color: azure;
  height: 50px;
  align-self: center;
}

.app {
  display: flex;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
}

#image {
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
}
