@keyframes pulse {
  0% {
    color: rgb(159, 179, 235);
  }
  40% {
    opacity: 1;
  }
  100% {
    color: azure;
    opacity: 0.1;
  }
}
.secondsCounter {
  /* animation: pulse 1s infinite; */
  opacity: 1;
  color: azure;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  height: 1em;

  position: absolute;
  top: -10px;
}
