#images {
  position: relative;
}
.right {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -40px;
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 6px;
  transform: rotate(-45deg);
  transition: all 0.2s ease-in-out;
}
.right:hover {
  padding: 7px;
  right: -45px;
}

.left {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -40px;
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 6px;
  transform: rotate(135deg);
  transition: all 0.2s ease-in-out;
}
.left:hover {
  padding: 7px;
  left: -45px;
}
.bindedImage:hover {
  cursor: pointer;
}
